* {
    font-size: 20px;
}


p {
    display: none;
    /*
    font-size: 2cm; - Unidade de media abs.
    font-size: 2in; - Unidade de media abs.
    */
    font-size: 20px;
}

h2 {
    display: none;
    font-size: 22.5px;
}

/* 
2em - Valor numérico com unidade, seu tamanho está 
relacionado ao tamanho do elemento superior.

2rem - Valor numérico com unidade, seu tamanho está 
relacionado ao elemento root.
*/
ul {
    list-style: none;
    font-size: 2em;
    /*20px*2 = 40px */
}

li {
    font-size: 3.5rem;
    /* 52,5px */
}